<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VoiceIt - Record a Message</title>
  <link rel="icon" type="image/png" href="/resources/images/Favicon-32x.png"/>
  <!-- Material Icons -->
  <link href="/lib/material-icons.css" rel="stylesheet"/>
  <!-- Angular Material -->
  <link rel="stylesheet" href="/lib/angular-material.min.css"/>
  <link rel="stylesheet" href="/resources/styles/base.css"/>

  <script src="/lib/modernizr-custom.js"></script>
  <script src="/lib/RecordRTC.min.js"></script>
  <script src="/lib/humanize-duration.js"></script>
  <script src="/lib/moment.js"></script>
  <script src="/lib/clipboard.min.js"></script>

</head>
<body ng-app="RecordAndShareApp" ng-cloak ng-controller="RecorderController as recorder">
  <div layout="column" style="height:100%;">
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="overflow: hidden;">
        <md-toolbar class="md-theme-primary">
          <div class="md-toolbar-tools" ng-controller="SidebarContoller as sidebar">
            <h2 class="md-toolbar-tools">Recently Uploaded</h2>
            <md-button aria-label="Close Sidebar" class="md-icon-button" ng-click="sidebar.toggleOpen()">
              <md-icon aria-label="Close Sidebar" class="material-icons">menu</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content layout-padding class="sidebarScroll">
          <ng-include src="'/views/components/recently-uploaded.html'"></ng-include>
        </md-content>
      </md-sidenav>

      <section layout="column" flex style="cursor: default;">
        <md-toolbar class="md-theme-primary">
          <div class="md-toolbar-tools" ng-controller="SidebarContoller as sidebar">
            <md-button aria-label="Recent Recordings" class="md-icon-button" ng-click="sidebar.toggleOpen()">
              <md-icon aria-label="Recent Recordings" class="material-icons">menu</md-icon>
            </md-button>
            <h2 class="md-toolbar-tools">
              <a href="http://voiceit.to" target="_blank">
                <img src="/resources/images/logo-512.png" class="logo"/>
              </a>
            </h2>
            <timer ng-if="recorder.isRecording" class="recordingTimer">{{mminutes}}:{{sseconds}}</timer>
          </div>
        </md-toolbar>
        <md-content style="position: relative; overflow: hidden;" flex class="alignCenter">
          <div class="bgContainer">
            <md-icon aria-label="Record Audio" class="material-icons dark-text jumbo-icon">mic</md-icon>
            <p>Press a button in the bottom right to start recording.</p>
            <p>Video recording now in Beta!</p>
          </div>
          <video autoplay muted id="videoDisplay" ng-class="(recorder.isRecording && recorder.recordingType === 'video') ? 'visible' : 'hidden'"></video>
          <div id="audioDisplay" ng-class="(recorder.isRecording && recorder.recordingType === 'audio') ? 'visible' : 'hidden'" class="recording alignCenter">
            <div class="throbber throbbing" ng-click="recorder.stop()">
              <md-icon aria-label="Record Audio" class="material-icons md-warn interact">mic</md-icon>
            </div>
          </div>
        </md-content>
      </section>
    </section>
    <section class="meta-buttons" ng-if="!recorder.isFramed">
      <a href="https://chrome.google.com/webstore/detail/voiceit/dbgbmaegfonfndncfgmmikdlijnhbneh" target="_blank">
        <md-button aria-label="Add to Gmail" class="md-raised md-warn">
          Add to Gmail
        </md-button>
      </a>
      <a href="http://www.voiceit.to/#!idea/c6v5" target="_blank" class="link-grey">
        Read More
      </a>
    </section>
    <section class="fab-container" ng-hide="recorder.isRecording">
      <md-button aria-label="Record Audio" class="md-fab md-raised md-accent" ng-click="recorder.record('audio')">
        <md-icon aria-label="Record Audio" class="material-icons dark-text">mic</md-icon>
        <md-tooltip md-direction="top">Record Audio</md-tooltip>
      </md-button>

      <md-button aria-label="Record Video (Beta)" class="md-fab md-raised md-accent" ng-click="recorder.record('video')">
        <md-icon aria-label="Record Video (Beta)" class="material-icons dark-text">videocam</md-icon>
        <md-tooltip md-direction="top">Record Video (Beta)</md-tooltip>
      </md-button>

    </section>
    <md-button aria-label="Stop Recording" class="md-fab md-warn fab" ng-show="recorder.isRecording" ng-click="recorder.stop()">
      <md-icon aria-label="Stop Recording" class="material-icons">stop</md-icon>
      <md-tooltip md-direction="left">Stop Recording</md-tooltip>
    </md-button>

  </div>
  <div style="display: none;" ng-controller="DialogController as dialog"></div>
  <canvas id="offscreenCanvas"></canvas>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="/lib/angular.min.js" type="text/javascript"></script>
  <script src="/lib/angular-animate.min.js"></script>
  <script src="/lib/angular-aria.min.js"></script>
  <script src="/lib/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="/lib/angular-material.min.js"></script>

  <!-- Load Timer Module -->
  <script src="/lib/angular-timer.min.js"></script>

  <!-- Include Application Module -->
  <script src="/resources/scripts/recordingApp-compiled.js"></script>
</body>
</html>
