<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VoiceIt - View a Message</title>
  <link rel="icon" type="image/png" href="/resources/images/Favicon-32x.png"/>
  <!-- Material Icons -->
  <link href="/lib/material-icons.css" rel="stylesheet"/>
  <!-- Angular Material -->
  <link rel="stylesheet" href="/lib/angular-material.min.css"/>
  <link rel="stylesheet" href="/resources/styles/base.css"/>

  <script src="/lib/modernizr-custom.js"></script>
  <script src="/lib/humanize-duration.js"></script>
  <script src="/lib/moment.js"></script>
  <script src="/lib/clipboard.min.js"></script>
</head>
<body ng-app="RecordAndShareApp" ng-cloak ng-controller="PlaybackController as playback">
  <input ng-model="recordingUrl" id="copyInput" style="position: absolute; left: -90000px;">
  <div layout="column" style="height:100%;">
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="overflow: hidden;">
        <md-toolbar class="md-theme-primary">
          <div class="md-toolbar-tools" ng-controller="SidebarContoller as sidebar">
            <h2 class="md-toolbar-tools">Recently Uploaded</h2>
            <md-button aria-label="Close Sidebar" class="md-icon-button" ng-click="sidebar.toggleOpen()">
              <md-icon aria-label="Close Sidebar" class="material-icons">menu</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content layout-padding class="sidebarScroll">
          <ng-include src="'/views/components/recently-uploaded.html'"></ng-include>
        </md-content>
      </md-sidenav>

      <section layout="column" flex style="cursor: default;">
        <md-toolbar class="md-theme-primary h64">
          <div class="md-toolbar-tools h64" ng-controller="SidebarContoller as sidebar">
            <md-button aria-label="Recent Recordings" class="md-icon-button" ng-click="sidebar.toggleOpen()">
              <md-icon aria-label="Recent Recordings" class="material-icons">menu</md-icon>
            </md-button>
            <h2 class="md-toolbar-tools h64">
              <a href="http://voiceit.to" target="_blank">
                <img src="/resources/images/logo-512.png" class="logo"/>
              </a>
            </h2>
            <timer class="recordingTimer" autostart="false" ng-class="(isFramed) ? 'margin-r-64' : ''">{{mminutes}}:{{sseconds}}</timer>
          </div>
        </md-toolbar>
        <md-content style="position: relative; overflow: hidden;" flex class="alignCenter">
          <div class="bgContainer" ng-if="!recording.type">
            <md-icon class="material-icons dark-text jumbo-icon">videocam</md-icon>
            <p>Loading Video...</p>
          </div>
          <!--<div id="audioDisplay" ng-class="(recording.type === 'audio') ? 'visible' : 'hidden'" class="alignCenter">
            <div class="throbber" ng-class="(controlState === 'playing') ? 'throbbing' : ''">
              <md-icon class="material-icons md-warn">mic</md-icon>
            </div>
          </div>-->
          <video id="videoDisplay" ng-class="(recording.type === 'video') ? 'visible' : 'hidden'"></video>
          <div id="mediaControls" class="outer">
            <div class="inner" ng-class="(controlState === 'playing' && recording.type === 'video') ? 'hideable' : ''">
              <md-icon aria-label="Play Recording" class="material-icons md-warn"
                ng-show="controlState === 'stopped' || controlState === 'paused'"
                ng-click="playRecording()">play_arrow</md-icon>
              <md-icon aria-label="Pause Recording" class="material-icons md-warn"
                ng-show="controlState === 'playing'"
                ng-click="pauseRecording()">pause</md-icon>
              <md-icon aria-label="Stop Playing" class="material-icons md-warn"
                ng-show="controlState === 'playing' || controlState === 'paused'"
                ng-click="stopRecording()">stop</md-icon>
              <div class="insertBtn">
                <md-button class="md-warn md-raised" ng-if="controlState === 'stopped' && isFramed"
                ng-click="insertRecording(recording)">
                  Insert Recording
                </md-button>
                <md-button class="md-raised copy-button" ng-if="controlState === 'stopped' && !isFramed && hasRecorded"
                style="width: calc(100% - 10px); margin: 0px 5px; margin-bottom: 5px"
                data-clipboard-target="#copyInput">
                  Copy Link
                </md-button>
              </div>
            </div>
        </div>
        <div class="errorDisplay alignCenter" ng-if="error">
          {{error}}
        </div>
        <section class="meta-buttons" ng-hide="isFramed">
          <a href="https://chrome.google.com/webstore/detail/voiceit/dbgbmaegfonfndncfgmmikdlijnhbneh" target="_blank">
            <md-button aria-label="Add to Gmail" class="md-raised md-warn">
              Add to Gmail
            </md-button>
          </a>
          <a href="http://www.voiceit.to/#!idea/c6v5" target="_blank" class="link-grey">
            Read More
          </a>
        </section>
        <md-button aria-label="Record a Message" class="md-raised md-warn fab" ng-click="goHome()">
          Reply
        </md-button>
      </md-content>
    </section>
  </section>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="/lib/angular.min.js" type="text/javascript"></script>
<script src="/lib/angular-animate.min.js"></script>
<script src="/lib/angular-aria.min.js"></script>
<script src="/lib/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="/lib/angular-material.min.js"></script>

<!-- Load Timer Module -->
<script src="/lib/angular-timer.min.js"></script>

<!-- Include Application Module TODO: Correct app module for recording list.-->
<script src="/resources/scripts/playbackApp-compiled.js"></script>
</body>
</html>
