<div ng-controller="RecentlyUploadedController as recent">
  <h4 ng-if="!recent.recordings.length" class="backgroundText">No recent recordings.</h4>
  <md-button aria-label="Clear" class="md-raised md-warn" ng-click="recent.clearList()" ng-if="recent.recordings.length">Clear List</md-button>
  <md-list>
    <md-list-item class="md-2-line secondary-button-padding"
      ng-repeat="recording in recent.recordings | orderBy:'-' track by $index " ng-if="recording.uploaded" ng-click="recent.openRecording(recording)">
      <img ng-src="{{recording.snapshot}}" class="md-avatar" ng-show="recording.snapshot"/>
      <md-icon aria-label="Audio Recording" class="md-avatar" ng-hide="recording.snapshot">mic</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>{{recording.name ? recording.name : recording.id }}</h3>
        <p>{{recording.date | date: 'medium'}}</p>
        <md-icon aria-label="Delete Recording" class="md-secondary material-icons md-warn" ng-click="recent.deleteRecording(recording)">delete</md-icon>
      </div>
    </md-list-item>
  </md-list>
</div>
