<md-dialog aria-label="Upload Dialog" ng-cloak ng-controller="UploadDialogController as dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Processing Recording</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="centerText">
      <div class="md-dialog-content" flex>
        <h4 ng-if="!recording.uploaded">Your recording will be available at this address shortly.</h4>
        <h4 ng-if="recording.uploaded">Your recording is available at this address.</h4>
        <div class="fullwInput">
          <md-button data-clipboard-target="#copyInput" class="copy-button">Copy</md-button>
          <md-input-container class="md-icon-float md-block" ng-class="$mdMedia('gt-md') ? 'w400' : ''">
            <md-icon data-clipboard-target="#copyInput" class="copy-button material-icons" style="cursor: pointer;">content_copy</md-icon>
            <input ng-model="recording.fullUrl" aria-label="Recording Content" id="copyInput"
            style="font-size: 0.7em;">
          </md-input-container>
        </div>
        <div ng-if="!recording.uploaded" class="alignCenter uploadProgress">
          <div class="alignCenter wrapper">
            <md-progress-circular md-mode="determinate" md-diameter="32" value="{{recording.uploadProgress}}"></md-progress-circular>
            <div class="text">{{recording.uploadProgress < 100 ? 'Uploading: ' + recording.uploadProgress + '%' : 'Processing'}}</div>
          </div>
        </div>
        <div id="mediaControls" class="outer fixed" ng-if="recording.uploaded">
          <div class="inner">
            <md-icon aria-label="Play Recording" class="material-icons md-warn" ng-click="openRecording(recording)">play_arrow</md-icon>
            <md-icon aria-label="New Recording" class="material-icons md-warn" ng-click="deleteRecording(recording)">mic</md-icon>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised" aria-label="Delete Recording" ng-click="deleteRecording(recording, cancelExt)" ng-disabled="!recording.uploaded">
        Cancel
      </md-button>
      <md-button ng-click="insertRecording(recording)" ng-disabled="!recording.uploaded" class="md-warn md-raised" aria-label="View Recording" ng-if="isFramed">
        Insert Recording
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
