@color-text-dark: #666;
@color-text-light: #EEE;

body, html {
  margin: 0;
  padding: 0;
  user-select: none;
}

ng-include {
  padding: 0px !important;
}

md-icon.md-avatar {
  font-size: 40px;
  background-color: #DDD;
}

input {
  user-select: text;
}

.logo {
  height: 52px;
  pointer-events: none;
  user-select: none;
}

.dark-text {
  color: @color-text-dark !important;
}

.meta-buttons {
  position: absolute;
  left: 15px;
  bottom: 10px;

  .md-button {
    margin: 6px 0px;
  }

  .link-grey {
    color: #888;
    margin: 0px 13px;
    border-bottom: 1px solid transparent;

    text-transform: uppercase;

    transition:
      border-bottom-color 200ms,
      color 200ms;

    &:hover {
      color: #666;
      border-bottom-color: #666;
    }
  }

  a {
    text-decoration: none;
  }
}

.fab, .fab-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;

  &.horizontal {
    justify-content: center;
    align-items: default;
  }
}

.centerText {
  text-align: center;
}

.bgContainer {
  max-width: 50%;
  text-align: center;
  opacity: 0.4;
  font-size: 1.2em;

  .jumbo-icon {
    font-size: 2em;
  }
}

.fullwInput {
  .md-button {
    margin: 0px;
  }

  md-input-container {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: -4px;

    input {
      border: none;
    }
  }

  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.sidebarScroll {
  height: ~"calc(100% - 80px)";
}

.recordingTimer {
  text-align: center;
}

.backgroundText {
  text-align: center;
  color: #CCC;
  font-weight: lighter;
}

.w400 {
  width: 400px;
}

.margin-r-64 {
  margin-right: 64px;
}

.uploadProgress {
  margin-top: 20px;

  .wrapper {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
  }

  .text {
    display: inline-block;
    margin-left: 15px;
    font-weight: 500;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
  }
}

#videoDisplay, #mediaControls, .errorDisplay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #EEE;
  transition: opacity 250ms;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  &::-webkit-media-controls-panel {
    border-radius: 0px;
  }

  &::-webkit-media-controls-enclosure {
    max-width: none;
    margin: 0px;
    padding: 0px;
    height: 30px;
  }
}

#mediaControls.fixed {
  position: relative;
  display: flex;
  margin-top: 20px;
}

#audioDisplay {
  position: absolute;
  &.recording {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: #EEE;
  }

  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 90px;
  text-align: center;

  transition: opacity 250ms;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

#mediaControls {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #222;
  background-color: transparent;
  text-align: center;

  .inner {
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    cursor: default;

    &.hideable {
      opacity: 0;
    }

    transition: opacity 200ms;

    &:hover {
      opacity: 1;
    }

    md-icon {
      color: #EEE;
      font-size: 8em;

      &:hover {
        color: #FFF;
      }
    }
  }
}

.throbber {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #DDD;
  box-shadow: inset 0px 0px 10px 0px #E00;

  &.throbbing {
    animation: bounce-element 1s infinite ease-in-out;

    md-icon {
      animation: rotate-color 2s infinite ease-in-out;
    }
  }
  outline: none;

  md-icon {
    padding: 5px;
    border-radius: 50%;
    background-color: #EEE;
    font-size: 64px;
    box-shadow: 0px 0px 10px 0px #F00;
    transition: background-color 250ms;

    &.interact {
      &:hover {
        background-color: #FFF;
      }

      &:active {
        background-color: #CCC;
      }
    }
  }
}

.md-errors-spacer {
  display: none;
}

// Enforce hegiht at 64px, due to issues with video sizing.
.h64 {
  height: 64px !important;
}

md-dialog-content {
  margin-bottom: 52px;
}

md-dialog-actions {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

// Janky bounce animation.
@keyframes bounce-element {
  0%, 100% {
    padding: 0px;
  }
  10% {
    padding: 2px;
  }
  20% {
    padding: 7px;
  }
  30% {
    padding: 5px;
  }
  50% {
    padding: 10px;
  }
  75% {
    padding: 20px;
  }
  80% {
    padding: 15px;
  }
}

// Desaturate-Saturate color rotation animation.
@keyframes rotate-color {
  0%, 100% {
    color: #F55;
    } 50% {
      color: #F00;
    }
  }

// Angular doesn't load soon enough to prevent page flash, so add this here.
[ng-cloak]
{
  display: none !important;
}

#offscreenCanvas {
  display: none;
}
